/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

*.iml
*.iml
     *.xml


composer.lock
*.iml
.idea/php.xml
*.iml
*.xml
*.iml
public/img/favicon-esz.ico
