.bg-light-gray{
    background: rgb(153, 153, 153);
    background: radial-gradient(circle, rgb(244, 252, 246) 0%, rgba(169, 168, 168, 0.47) 100%);
}

.main-panel {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(244, 252, 246) 0%, rgba(106,168,242,0.4738270308123249) 100%);
}

.blur {
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.wrap {
    white-space: normal;
    word-wrap: break-word;
}


progress {
    vertical-align: baseline;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }

    to {
        background-position: 0 0;
    }
}
.progress {
    position: relative;
    height: 15px;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,222,0,1) 64%, rgba(0,255,38,1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='#ff0000', GradientType=1);
}
.amount {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: all 0.8s;
    background: rgb(201, 203, 195);
    width: 0;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar {
        transition: none;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
        -webkit-animation: none;
        animation: none;
    }
}


.reaction > i {
    font-size: 1.6rem;
}

.reaction:hover {
    color: #0f0;
}

.reacted > i {
    color: rgba(64, 108, 254, 0.44);
}

.reacted > i :hover {
    color: rgba(64, 254, 181, 0.44);
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-sm {

    width: 40px;
    height: 20px;
}

.switch-xs {
    width: 30px;
    height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


.switch-sm > .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .slider-sm:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.badge-green {
    background-color: #85cc6c;
    color: white;
}

.nav-icon {
    font-size: 1.5rem;
}

.nav-item .badge {
    position: relative;
    left: -10px;

}


.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
    background-color: #c2c1c1;
}



@media only screen and (max-width: 600px) {
    .navbar .dropdown-menu {
        position: fixed;
        top: 40px;
        left: 3vw;
        width: 95vw;

    }

    .dropdown-item {
        padding: 0.5rem 0.5rem;
    }

    .title {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .message {
        font-size: 0.8rem;
    }


}
