html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', serif;

    background-color: black;
    color: whitesmoke;

}

.centered {
    position: fixed; /* or absolute */
    top: 15%;
    left: 25%;
}
